<header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

 Optional theme 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

 Latest compiled and minified JavaScript 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</header>
<style>
#cont{
  
  border-style: solid;
  border-left: 5px blue;
  border-right: 5px blue;
  border-radius: 5px;
}
body{
  font-size: 20px;
  text-align:center;
  padding-bottom: 50px;
}
header, footer {
    padding: 1em;
    color: white;
    height: 300px;
    clear: left;
    background-image: url(http://www.executivecoupon.com/wp-content/uploads/2015/12/expedia-logo1-1024x305.jpg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    text-align: center;
    
}
</style>
<body>
  <div class="container" id="cont">
  <h2 style="font-weight: bold;">Log in</h2>
  
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
  
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
  
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>
</body>