<!DOCTYPE html>
<html class="chrome js flexbox flexboxlegacy canvas webgl no-touch geolocation hashchange history rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent localstorage sessionstorage svg inlinesvg pointerevents mediaqueries placeholder formvalidation details datalistelem json no-win8touch checkedselector highres no-ipad no-iphone no-ipod no-android no-appleios positionfixed datauri ab_3292_0 ab_5425_0 ab_5320_0 ab_7504_0 ab_7324_0 launch-view-home launch-view" data-version="v2.68.1.fe168792b71dae02f5c3a4ebda27476f5349c5bb" data-language="en_AU" lang="en" style="">

<head>
  <title><%= @page_title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    
    <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" sizes="16x16 32x32">
    <link href="/assets/favicon.ico" rel="icon" type="image/x-icon" sizes="16x16 32x32">
    <link href="/assets/exp-responsive.css" rel="stylesheet" type="text/css">
    <link href="/assets/home-page-4a6ecc429043598a371603b7c126637c-min.css" media="all" rel="stylesheet" type="text/css">
    <link href="/assets/recently-viewed-ad187805c535af0484d19586f0f1eea6-min.css" media="all" rel="stylesheet" type="text/css">
    <link href="/assets/corewizard-master-d8e4a7fbdc4fda3c70670bb16b661120-min.css" media="all" rel="stylesheet" type="text/css">
    <link href="/assets/corewizard-ads-63f05c89c2347ee48412d13dd6321d6d-min.css" media="all" rel="stylesheet" type="text/css">
    <link href="/assets/reasons-to-believe-1ed8b33ddbabd0be7034457b252c4561-min.css" media="all" rel="stylesheet" type="text/css">
    <link href="/assets/coupon-messaging-df885bbda0099b1ec7100992d61652f7-min.css" media="all" rel="stylesheet" type="text/css">
    <link href="/assets/mobile-dark-theme-d2a0ca4bc169464447720779afb12ff3-min.css" media="all" rel="stylesheet" type="text/css">
    <link href="/assets/next-trip-1f59a791dbd7a412084cd6cfd5d321fb-min.css" media="all" rel="stylesheet" type="text/css">
    <link href="/assets/core-wizard-bundle-min-1686941877.css?v=release-2016-09-r1-3820-1650506-1" rel="stylesheet" >
    <link href="/assets/storefront-mer-signup-less-8a60f8730e0ef66295268f2a9a2d7d12-min.css" media="all" rel="stylesheet" type="text/css">
    <link href="/assets/banner-less-7495c962ef8ce75309973d524c7a4dcf-min.css" media="all" rel="stylesheet" type="text/css">
    <link href="/assets/global-header-4a49cfae53149f022d26a4664bab12ee-min.css" media="all" rel="stylesheet" type="text/css">
    <link href="/assets/global-header-responsive-e70c35ed1b6537670fcf6b30ef003ce6-min.css" media="all" rel="stylesheet" type="text/css">
    <link href="/assets/ebr-banner-less-2403ef2675fe11b3dd427c3ed77cb938-min.css" media="all" rel="stylesheet" type="text/css">
    <link href="/main_design.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery-3.1.0.js"></script>
    <script src="/js/board_scripts.js"></script>
    <script src="/js/basic_scripts.js"></script>
    
    <!-- Google plus sharing -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body id="home-page" class="wrap cf  l-singlecol" data-disable-typeahead="true">

<%= yield %>

</body>

</html>
